@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  @font-face {
    font-family: "Iran";
    src: url("/fonts/IRANSans/IRANSans.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "IranMedium";
    src: url("/fonts/IRANSans/IRANSans_Medium.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana";
    src: url("/fonts/Dana/woff2/DanaFaNum-Regular.woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Lalezar";
    src: url("/fonts/Lalezar/Lalezar-Regular.ttf");
    font-display: swap;
  }
}
