@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .progress {
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    height: 0.5rem;
    border-radius: 1rem;
  }

  progress::-webkit-progress-bar {
    background-color: #f0f0f0;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: #eab308;
    border-radius: 7px;
  }

  .active-page {
    @apply !bg-[#eab308] !text-white;
  }

  .active-btn {
    @apply bg-[#eab308] text-white;
  }

  .duration-chart .recharts-responsive-container {
    @apply !h-[366px] md:!h-[250px];
  }

  .duration-chart .recharts-wrapper {
    @apply !min-h-[360px] md:!min-h-[250px];
  }

  table tr td {
    @apply text-center;
  }

  .recent-table tbody tr {
    height: 60px !important;
  }

  .sort-active {
    @apply bg-yellow-500 text-white transition-all;
  }

  .section-box {
    @apply bg-white rounded-xl px-8 pt-5 pb-10 my-5 shadow;
  }

  .table-container {
    overflow-x: auto !important;
  }

  .table-container::-webkit-scrollbar {
    height: 10px !important;
  }

  .table-container::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.1vw !important;
  }
  .table-container::-webkit-scrollbar-thumb {
    background-color: #6a6a6e;
    border-radius: 5px;
    height: 0.1vw !important;
  }
  .table-container::-webkit-scrollbar-track {
    height: 0.1vw !important;
  }

  .admin-table table thead th {
    padding: 15px;
  }

  .admin-table table tbody tr:nth-child(even) {
    background-color: rgb(233, 233, 233);
  }

  .admin-table.discount table tbody tr td {
    padding: 18px !important;
  }
}

.table-container {
  overflow-x: auto !important;
}

.table-container::-webkit-scrollbar {
  height: 10px !important;
}
table {
  width: 100% !important;
  white-space: nowrap !important;
}

.swiper-pagination-bullet {
  background-color: #eab308 !important;
}

.input:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: rgb(207, 207, 207);
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 1rem;
  white-space: nowrap;
}

.divider:before,
.divider:after {
  content: "";
  height: 0.1rem;
  width: 100%;
  background-color: rgb(235, 235, 235);
}

.submenu {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

/* Yellow Range Slider */
#range-slider-yellow {
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23555' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E")
    #bcbcbc;
  margin-top: 18px;
}

#range-slider-yellow .range-slider__range {
  background: #ffbf00;
  transition: height 0.3s;
}

#range-slider-yellow .range-slider__thumb {
  background: #faa307;
  transition: transform 0.3s;
}

#range-slider-yellow .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}

#range-slider-yellow .range-slider__range[data-active] {
  height: 16px;
}

.editor-container .ck-editor__editable_inline {
  min-height: 400px;
  height: 400px;
  max-height: 600px;
}

.editor-container .ck-content {
  min-height: 400px;
}

.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}
.lds-spinner {
  color: currentColor;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: currentColor;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@layer base {
  @font-face {
    font-family: "Iran";
    src: url("/fonts/IRANSans/IRANSans.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "IranMedium";
    src: url("/fonts/IRANSans/IRANSans_Medium.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana";
    src: url("/fonts/Dana/woff2/DanaFaNum-Regular.woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Lalezar";
    src: url("/fonts/Lalezar/Lalezar-Regular.ttf");
    font-display: swap;
  }
}
.ThumbSwiper img {
  opacity: 0.5;
}

.swiper-slide-thumb-active img {
  opacity: 1 !important;
}
